.HeaderRMenu{
    width: auto;
    height: 40px;
    display: flex;
    margin-top: 16px;
    align-items: center;
}

.UserHeader__menu{
    min-width: 399px;
    height: 32px;
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.Wallet__menu{
    display: flex;
    align-items: center;
    min-width: 135px;
}

.Language__field{
    margin-left: 24px;
    font-family: montserratSemiBold;
    font-size: 16px;
}

.Themes{
    width: 44px;
    margin-left: 24px;
    
}

.Button__field{
    width: 205px;
    margin-right: 32px;
    border-left: 1px solid #CACACA;
    
}

.Sum{
    width: 79px;
    font-size: 16px;
    font-family: montserratBold;
    margin-left: 8px;
}

.Arrow{
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

.Arrow:hover, .Bell:hover, .Wallet__menu:hover, .EmailIcon:hover{
    cursor: pointer;
}

.UserShort__info{
    height: 32px;
    display: flex;
    align-items: center;
}


.Photo__field{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #F4F4F4;
    margin-left: 24px;
    border: 1px solid #FF4C4B;
}

.User__text{
    width: 92px;
    font-size: 16px;
    font-family: montserratSemiBold;
    margin-left: 12px;
    font-weight: 500;
    white-space: nowrap;
}

.Bell{
    margin-left: 32px;
    width: 24px;
    height: 24px;

}

.EmailIcon{
    margin-left: 24px;
    width: 24px;
    height: 24px;
}

.RightMenu__container{
    display: flex;
    min-width: 628px;
    height: 40px;
    margin-left: 828px;
    align-items: center;
}