.aboutMe {
    display: inline-block;
    position: relative;
    bottom: 1px;
    right: 1px;
}
.aboutMe__title {
    font-size: 24px;
    font-family: montserratBold;
    line-height: 32px;
  }

.aboutMe__line {
    width: 1022px;
    height: 1px;
    background-color: #C6C7CD;
    margin: 31.5px 0px;
  }
.aboutMe__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1022px;
}

.userID {
    color: #121212;
    font-family: montserratRegular;
    font-weight: 400;
    align-self: end;
    font-size: 12px;
}

.title {
    font-family: montserratSemiBold;
    width: 351px;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
}

.subTitle {
    text-align: start;
    width: fit-content;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1022px;
    height: 48px;
}

.content__image  {
    width: 96px;
    border-radius: 50%;
    border: 1px #FF4C4B solid;
    background-color: #fff;
}

.uploadPhoto {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 520px;
    max-height: 96px;
}

.content__buttons {
    font-family: montserratRegular;
    display: flex;
    gap: 16px;
    height: fit-content;
    font-size: 12px;
}

.content__btn{
font-size: 12px;
background-color: #F4F4F4;
}

.content__btn:hover {
    color: #FF4C4B;
}