@font-face {
    font-family: 'montserratRegular';
    src: url('./Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBlack';
    src: url('./Montserrat-Black.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratBold';
    src: url('./Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratExtraBold';
    src: url('./Montserrat-ExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratExtraLight';
    src: url('./Montserrat-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratLight';
    src: url('./Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratMedium';
    src: url('./Montserrat-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratSemiBold';
    src: url('./Montserrat-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratThin';
    src: url('./Montserrat-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratVarWght';
    src: url('./Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
