.ProjectCell{
    width: 100%;
    height: 96px;
    border-radius: 8px;
    font-size: 16px;
    font-family: montserratMedium;
    padding: 8px, 0px, 8px, 0px;
    background-color: #FFFFFF;
    
}

.Cells{
    height: 40px;
    display: flex;
}




.Project__info__id, .Project__info__name, .Project__info__type, .Project__info__quantity, .Project__info__data, .Project__info__status{
    line-height: 24px;
    padding: 8px, 0px, 8px, 0px;
    margin-top: 28px;
   
  
}
/*
.Project__info__id{
 width: 76px;

 margin-left: 16px;
 
}

.Project__info__name{
    width: 240px;
}

.Project__info__type{
  width: 251px;
}
.Project__info__quantity{
    width: 201px;
}

.Project__info__data{
    width: 225px;
}

.Project__info__status{
    width: 197px;
}


