.Lmenu {
  width: 306px;
  height: 1092px;

}

.Main_buttons {
  font-family: montserratRegular;
  width: 273px;
  height: 200px;
  margin: 96px 16px 0px 16px;
}

.Feature {
  font-family: montserratRegular;
  width: 257px;
  height: 264px;
  margin: 412px 24px 0px 24px;
  background-color: aquamarine;
  padding: 160px 16px 0px 17px;
}

p {
  font-family: montserratRegular;
  font-weight: 500;
  width: 224px;
  height: 32px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #1B0031;

}

.footer_card {
  font-family: montserrat;
  width: 257px;
  height: 264px;
  margin-top: 412px;

}